<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-sc-zoomautheval" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ZoomAuthEval</name>
    <js-module name="ZoomAuthEval" src="www/ZoomAuthEval.js">
        <clobbers target="ZoomAuthEval" />
    </js-module>
    <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ZoomAuthEval">
                <param name="android-package" value="cordova.plugin.sc.zoomautheval.ZoomAuthEval" />
            </feature>
        </config-file>
        <config-file target="res/values/strings.xml" parent="/*">
            <string name="zoom_camera_permission_message_enroll">To get started with ZoOm,\nenable access to your selfie camera.</string>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="zoom-authentication-8.0.4.aar" target-dir="./" />
        <source-file src="src/android/ZoomAuthEval.java" target-dir="src/cordova-plugin-sc-zoomautheval/ZoomAuthEval" />
        <resource-file src="./custom_zoom_logo.png" target="res/drawable-hdpi/custom_zoom_logo.png" />
        <resource-file src="./custom_zoom_logo.png" target="res/drawable-mpi/custom_zoom_logo.png" />
        <resource-file src="./custom_zoom_logo.png" target="res/drawable-xhdpi/custom_zoom_logo.png" />
        <resource-file src="./custom_zoom_logo.png" target="res/drawable-xxhdpi/custom_zoom_logo.png" />
        <resource-file src="./drawable-nodpi" target="res/drawable-nodpi" />
        <framework src="src/android/ZoomAuthentication.gradle" custom="true" type="gradleReference" />

    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ZoomAuthEval">
                <param name="ios-package" value="ZoomAuthEval" />
            </feature>
        </config-file>
        <preference name="CAMERA_USAGE_DESCRIPTION" default="Secure Authentication with ZoOm" />
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>
        <hook type="before_plugin_install" src="hooks/hook-unzip-framework.js"/>
        <source-file src="src/ios/ZoomAuthEval.m" />
        <framework src="ZoomAuthentication.framework" custom="true" embed="true" />
        <resource-file src="./custom_zoom_logo.png" />
        <resource-file src="./Assets.xcassets" />
        <resource-file src="./Zoom.strings" />
    </platform>
    
</plugin>
