<ion-content>
  <ion-list>
    <ion-item (click)="setBrandingLogo()">
      Enable Branding Logo
    </ion-item>
    <ion-item (click)="setMainForeGroundColors()">
      Set Foreground Color
    </ion-item>
    <ion-item (click)="setMainBackGroundColors()">
      Set Background Color
    </ion-item>
    <ion-item (click)="setDefaultTheme()">
      Default Theme
    </ion-item>
    <ion-item (click)="setDarkTheme()">
      Dark Theme
    </ion-item>
    <ion-item (click)="setMidnightTheme()">
      Midnight Theme
    </ion-item>
    <ion-item (click)="setSunsetTheme()">
      Sunset Theme
    </ion-item>
  </ion-list>
</ion-content>
