<ion-content>
  <div class="ion-padding">
    <div style="margin-top:4vh;text-align:center">
      <img style="display:block;margin-left: auto;margin-right: auto;width:150px;height:59px" src="assets/zoom_logo.png" />
    </div>
    <div style="margin-top:2vh;text-align:center;width:100vw;font-size:6vw;color:white">Device SDK Sample App</div>
    <div style="margin-top:.5vh;text-align:center;width:100vw;font-size:3vw;color:white">Evaluation Version</div>
    <div style="text-align:center;margin-top:2vh">
      <ion-input [(ngModel)]="userId" style="--background:white" placeholder="Enter Username"></ion-input>
    </div>
    <span style="text-align:center;padding-left:5vw;padding-left:5vw">
      <ion-button (click)="enroll()" expand="block" fill="outline" style="color:white;font-size:5vw;--border-color:white">New User</ion-button>
      <ion-button (click)="authenticate()" expand="block" fill="outline" style="color:white;font-size:5vw;--border-color:white">Authenticate User</ion-button>
      <ion-button (click)="verify()" expand="block" fill="outline" style="color:white;font-size:5vw;--border-color:white">Liveness Check</ion-button>
      <ion-button (click)="idCheck()" expand="block" fill="outline" style="color:white;font-size:5vw;--border-color:white">Identity Check</ion-button>
      <ion-button (click)="deleteEnrollment()" expand="block" fill="outline" style="color:white;font-size:5vw;--border-color:white">Delete Enrollment</ion-button>

    </span>
    <div style="text-align:center;margin-top:1vh">
      <img style="display:inline-block;margin-left: auto;margin-right: auto;width:40px;height:40px" src="assets/audit_trail.png" (click)="auditTrail()"/>
      &nbsp;&nbsp;<img style="display:inline-block;margin-left: auto;margin-right: auto;width:40px;height:40px" src="assets/settings.png" (click)="settings()" />
    </div>
    <div style="text-align:center;padding-left:5vw;padding-left:5vw;color:white;margin-top:1vh">
      {{logMessage}}
    </div>
    <div style="text-align:center;margin-top:1vh">

      <ion-button (click)="getUserEnrollmentStatus()" expand="block" fill="outline" style="color:white;font-size:5vw;--border-color:white">Enrollment Status</ion-button>
      <ion-button (click)="isUserEnrolled()" expand="block" fill="outline" style="color:white;font-size:5vw;--border-color:white">Is Enrolled</ion-button>
      <ion-button (click)="getVersion()" expand="block" fill="outline" style="color:white;font-size:5vw;--border-color:white">Version #</ion-button>
      <ion-button (click)="getSdkStatus()" expand="block" fill="outline" style="color:white;font-size:5vw;--border-color:white">Sdk Status</ion-button>
    </div>
  </div>
</ion-content>
